body{
    margin:0;
}

/*
#yep1{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #d52a54;
    position: fixed;
    height: 12vh;
}
*/
h3{
    text-align:center;
}
#first1{
    
}
#debut{
    background-color:white;
}
.yop1{
    position:absolute;
    margin-left: 20vh;
    margin-top:10vh;
    height:30vh;
    width:70vh;
}
.yop2{
    position: absolute;
    margin-left:30vh;
    margin-top:10vh;
    height:30vh;
    width:70vh;
}
#cours{
    background-color: blue;
}
#date{
    background-color: white;
}
#contact{
    background-color:blue;
}
#contact2{
    background-color:blue;
}